<div table class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <ng-container *ngFor="let columns of columnRows">
        <tr>
          <th></th>
          <th *ngFor="let column of columns" [ngClass]="getColumnClass(column)" [colSpan]="column.colSpan" >{{column.label}}</th>
        </tr>
      </ng-container>
    </thead>
    <tbody>
      <tr *ngFor="let row of schema.rows; let i = index" >
        <td [ngClass]="row.format">{{row.label}}</td>
          <td *ngFor="let column of schema.columns; let j = index" [ngClass]="getColumnClass(column)">{{formatColumn(data[i][j], column.format)}}</td>
      </tr>
    </tbody>
  </table>
</div>