<div class="layout-container bg-grey-300" [ngClass]="layout()">
    <!-- top navbar-->
    <app-header></app-header>
    <!-- sidebar-->
    <app-sidebar></app-sidebar>
    <div (click)="closeSidebar()" class="sidebar-layout-obfuscator"></div>
    <!-- Main section-->
    <main class="main-container" (click)="closeSidebar()">
        <!-- Page content-->
        <section class="page-content">
            <router-outlet></router-outlet>
        </section>
        <!-- Page footer-->
        <!-- <footer><span>2018 - Programs</span></footer> -->
    </main>
</div>
