/**
 * Main Layout
 */

@import '../../../shared/styles/common/variables';
@import '../../../shared/styles/common/mixins';

// Layout
// -----------------------------------

.layout-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

// Main Content
// -----------------------------------

.main-container {
    position: relative;
    height: calc(100% - #{$header-hg});
    // background-color: $main-content-bg;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media #{$min-desktop} {
        margin-left: $sidebar-wd;
    }

    > section {
        min-height: calc(100% - #{$footer-hg});
    }

}

.content-heading {
    padding: 16px;
    box-shadow: 0 1px 0 rgba(20, 20, 20, 0.075);
}

// Footer

footer {

    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-hg;
    border-top: 1px solid rgba(160,160,160, .12);
    padding: 20px;
    z-index: 109;
}

section.page-content {
    overflow-y: hidden;
}