.mda-list-item {
    cursor: pointer;
}

.mda-list-item:hover {
    background-color: #e3f2fd;
}

.mda-list-item-text {
    line-height: 1.2em;
}

.mda-list > .mda-list-item > .mda-list-item-text h4,
.mda-list > .mda-list-item > .mda-list-item-text h3 {
    line-height: 1em;
}