<div class="container-fluid bg-full">
  <div class="container container-xs">
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow-z4">
          <div class="card-body">
            <div class="mda-form-group">
              <div class="mda-form-control">
                <input type="text" name="programFilter" (input)="handleFilter($event.target.value)" tabindex="0" aria-invalid="false"
                  class="form-control" />
                <div class="mda-form-control-line"></div>
                <label>Filter</label>
              </div>
            </div>
            <div class="mda-list mda-list-bordered bg-white">
              <div class="mda-list-item" *ngFor="let program of (programs$ | async)" [routerLink]="program.id">
                <div class="mda-list-item-text mda-2-line">
                  <h3>
                    <a>{{program.name}}</a>
                  </h3>
                  <h4>{{program.agency}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>