<div class="container-fluid bg-full">
  <div class="container container-xl">
        <div class="container container-lg reader-block">
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sollicitudin,
            massa quis posuere mollis, turpis mi suscipit magna, ac tristique tellus arcu pretium mi. Sed quam magna,
            tincidunt ac fermentum eget, vestibulum id magna. Nullam felis ipsum, tempus at fermentum nec, porttitor
            eu libero. Curabitur porttitor fermentum dapibus.</p>
          <p>Praesent a rhoncus magna. Nam nec tellus tortor. Proin adipiscing, dolor faucibus ullamcorper interdum, urna
            justo convallis arcu, ultrices auctor enim turpis ut purus. Fusce a egestas turpis. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Proin euismod malesuada dui ac laoreet. Donec purus leo, lobortis vel
            volutpat vel, dictum nec augue. Proin ullamcorper lectus ut libero blandit pretium.</p>
        </div>
  
  </div>
</div>