<div class="container-fluid bg-full">
  <div class="container container-xl">
    <div class="card shadow-z4">
      <div class="card-heading bg-light-green-800">
        <div class="card-title">Electorate Briefs
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-flat btn-default link" href="https://briefs.internal.pmc.gov.au/electorates/SitePages/index.aspx/brief/{{(electorate$ | async)?.briefId}}"
          target="_blank">
          Go to Electorate Brief*
        </a>
      </div>
    </div>
    <p class="text-muted">
      *This will open the Live Briefing System in a new tab. 
    </p>
    <p class="text-muted">
      Electorate briefs will be integrated into this application in the near future.
    </p>
  </div>
</div>