<div class="container-fluid bg-full">
    <div class="container container-xl">
      <!-- <div class="card animated fadeInUp b0 shadow-z4">
        <div class="card-offset"> -->
          <!-- <div class="card-offset-item text-right">
            <button type="button" class="btn-raised btn btn-primary btn-circle btn-lg">
              <em class="ion-edit"></em>
            </button>
          </div> -->
        <!-- </div> -->
        <!-- <div class="card-body pt0"> -->
          <div class="container container-lg reader-block">
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sollicitudin,
              massa quis posuere mollis, turpis mi suscipit magna, ac tristique tellus arcu pretium mi. Sed quam magna,
              tincidunt ac fermentum eget, vestibulum id magna. Nullam felis ipsum, tempus at fermentum nec, porttitor
              eu libero. Curabitur porttitor fermentum dapibus.</p>
            <p>Praesent a rhoncus magna. Nam nec tellus tortor. Proin adipiscing, dolor faucibus ullamcorper interdum, urna
              justo convallis arcu, ultrices auctor enim turpis ut purus. Fusce a egestas turpis. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Proin euismod malesuada dui ac laoreet. Donec purus leo, lobortis vel
              volutpat vel, dictum nec augue. Proin ullamcorper lectus ut libero blandit pretium.</p>
          </div>
        <!-- </div> -->
        <div class="bg-gray-lighter container container-lg">
          <form action="" class="mt">
            <div class="input-group mda-input-group">
              <div class="mda-form-group float-label">
                <div class="mda-form-control">
                  <textarea rows="1" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
                  <div class="mda-form-control-line"></div>
                  <label class="m0">Comments</label>
                </div>
                <span class="mda-form-msg right">Any message here</span>
              </div>
              <span class="input-group-btn">
                <button type="button" class="btn btn-flat btn-success btn-circle">
                  <em class="ion-checkmark-round"></em>
                </button>
              </span>
            </div>
          </form>
          <div class="mt">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img src="assets/img/user/01.jpg" alt="Image Post" class="media-object img-circle thumb48" />
                </a>
              </div>
              <div class="media-body">
                <h6 class="mt0 mb-sm">Alistair Campbell
                  <small class="text-muted">2 days ago</small>
                </h6>
                <div class="mb">Pellentesque mauris orci, lobortis in tristique mollis, consequat eu magna.</div>
                <ul class="list-inline">
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-thumbsup icon-2x"></em>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-thumbsdown icon-2x"></em>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-android-share-alt icon-2x"></em>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img src="assets/img/user/02.jpg" alt="Image Post" class="media-object img-circle thumb48" />
                </a>
              </div>
              <div class="media-body">
                <h6 class="mt0 mb-sm">Someone Else
                  <small class="text-muted">2 days ago</small>
                </h6>
                <div class="mb">Duis elit dolor, gravida vitae varius in, viverra eu nibh. In sit amet accumsan arcu.</div>
                <ul class="list-inline">
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-thumbsup icon-2x"></em>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-thumbsdown icon-2x"></em>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-soft">
                      <em class="ion-android-share-alt icon-2x"></em>
                    </a>
                  </li>
                </ul>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img src="assets/img/user/03.jpg" alt="Image Post" class="media-object img-circle thumb48" />
                    </a>
                  </div>
                  <div class="media-body">
                    <h6 class="mt0 mb-sm">Another Person
                      <small class="text-muted">2 days ago</small>
                    </h6>
                    <div class="mb">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla
                      condimentum viverra vestibulum. Fusce eleifend ornare ante at dignissim.</div>
                    <ul class="list-inline">
                      <li>
                        <a href="#" class="text-soft">
                          <em class="ion-thumbsup icon-2x"></em>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="text-soft">
                          <em class="ion-thumbsdown icon-2x"></em>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="text-soft">
                          <em class="ion-android-share-alt icon-2x"></em>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div>
      </div> -->
    </div>
  </div>