.pmo-comment {
    color: red;
}

.pmc-comment {
    color: inherit;
}

.pmo-comment::before {
    content: "[PMO] "
}

.pmc-comment::before {
    content: "[PMC] "
}

.btn-circle-sm {
    width: 32px;
    height: 32px;
    line-height: 24px;
}

.dataCaptureDate{
    padding:5px;
    font-style: italic;
}

.reportNotes{
    padding:15px;
    font-style: italic;
    font-size: 13px;
}

.navMinHeight56 ::ng-deep tabset ::ng-deep ul ::ng-deep li ::ng-deep a {
   min-height: 56.85px;
}