<div class="card shadow-z4">
  <div class="card-heading bg-light-green-800">
    <div class="card-title">{{title}}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 navMinHeight56">
        <tabset>
          <tab *ngFor="let report of reports" [heading]="report.definition.name" (select)="handleSelect(report.definitionId)" [active]="report.definitionId == _selectedReportDefId">
            <ng-container [ngSwitch]="report.definition.format">
              <div *ngSwitchCase="'Summary'" class="summary">
                <markdown ngPreserveWhitespaces *ngFor="let segment of report.data.Text.split('\\n')">
                  {{segment}}
                </markdown>
              </div>
              <app-table *ngSwitchCase="'Table'" [data]="report.data" [schema]="report.definition.schema"></app-table>
              <app-bar-h-chart *ngSwitchCase="'BarChart'" [chartData]="report.data.data" [xAxisLabel]="report.xAxisLabel"></app-bar-h-chart>
              <app-line-chart *ngSwitchCase="'LineChart'" [chartData]="report.data"></app-line-chart>
              <div *ngIf="(report.definition.notes)" class="reportNotes">
                Notes:
                <markdown ngPreserveWhitespaces>
                  {{report.definition.notes}}
                </markdown>
              </div>
              
              <div *ngIf="(report.definition.dataDate) && !report.definition.dataDate.includes('0001-01-01')"
                   class="dataCaptureDate">Data recorded: {{report.definition.dataDate | date: 'd MMM yyyy'}}</div>
            </ng-container>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>