<div class="container-fluid bg-full">
    <div class="row">
        <div class="col-md-3">
            <app-filtered-list [items]="programsList$ | async" (select)="handleSelectReport($event)"></app-filtered-list>
        </div>
        <div class="col-md-9">
            <app-data-card *ngIf="(selectedProgram$ | async)" [title]="(selectedProgram$ | async)?.name" [reports]="(selectedProgramReports$ | async)"
            [selectedReportDefId]="(selectedReportDefId$ | async)" (select)="handleSelectReportTab($event)">
            </app-data-card>
            <app-no-content-message *ngIf="!(selectedProgram$ | async)" title="No program selected">
                Please select a program from the list.
            </app-no-content-message>
        </div>
    </div>
</div>