<div class="container-fluid bg-full">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-3">
          <app-filtered-list [items]="definitions$ | async" (select)="handleSelectReport($event)"></app-filtered-list>
        </div>
        <div class="col-sm-9">
          <app-data-card *ngIf="(selectedStatistic$ | async)" [title]="(selectedStatistic$ | async)?.name" [reports]="(selectedStatisticReports$ | async)"
            [selectedReportDefId]="(selectedReportDefId$ | async)" (select)="handleSelectReportTab($event)">
          </app-data-card>
          <app-no-content-message *ngIf="!(selectedStatistic$ | async)" title="No statistic selected">
            Please select a statistic from the list.
          </app-no-content-message>
        </div>
      </div>
    </div>
  </div>
</div>