<div class="container-fluid bg-full">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-3">
            <app-filtered-list [items]="electorateList$ | async" (select)="handleSelectReport($event)"></app-filtered-list>
          </div>
          <div class="col-sm-9">
            <app-data-card [title]="(selectedElectorate$ | async)?.name || 'National'" [reports]="(selectedProgramReports$ | async)" 
              [selectedReportDefId]="(selectedReportDefId$ | async)" (select)="handleSelectReportTab($event)">
            </app-data-card>
          </div>
        </div>
      </div>
    </div>
  </div>