<agm-map [fitBounds]="bounds" *ngIf="geoJson"
         [streetViewControl]="false">
  <agm-data-layer [geoJson]="geoJson"></agm-data-layer>
  <agm-polygon></agm-polygon>

  <agm-marker *ngFor="let marker of mapPoints"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
              [title]="marker.InfoWindowTextTitle" 
              [markerDraggable]="marker.draggable"
              (dragEnd)="markerDragEnd(marker, $event)" >

    <agm-info-window [isOpen]="marker.InfoWindowIsOpen" [disableAutoPan]="true"><strong>{{ marker.InfoWindowTextTitle }}</strong>
                     <div>{{marker.InfoWindowTextBody}}</div>
                  
                </agm-info-window>
  
  </agm-marker>
</agm-map>

<agm-map *ngIf="!geoJson"
         [streetViewControl]="false">
  <agm-kml-layer #KML [url]="kmlUrl"></agm-kml-layer>
</agm-map>

