<div class="container-fluid bg-full">
  <app-google-maps [geoJson]="(electorate$ | async)?.mapdata?.geoJson" [bounds]="(electorate$ | async)?.mapdata?.bounds" [electorateName]='(electorate$ | async)?.name'>
  </app-google-maps>
</div>