<div class="header-container bg-light-green-900">
    <nav>
        <ul>
            <li [ngClass]="{'active': settings.app.sidebar.visible}" class="visible-xs visible-sm hidden-md">
                <a (click)="toggleSidebar()" [ngClass]="settings.app.header.menulink" class="menu-link">
                    <span><em></em></span>
                </a>
            </li>
            <li [ngClass]="{'active': settings.app.sidebar.offcanvasVisible}" *ngIf="settings.app.sidebar.offcanvas" class="hidden-xs hidden-sm">
                <a (click)="toggleSidebarOffcanvasVisible()" [ngClass]="settings.app.header.menulink" class="menu-link">
                    <span><em></em></span>
                </a>
            </li>
        </ul>
        <h2 class="header-title">Programs</h2>
    </nav>
</div>
