<div class="container-overlap">
  <div class="container container-fluid">
    <span class="text-lg page-title">{{electorateName}} ({{(electorate$ | async)?.state}})</span>
    <span class="pull-right hidden-xs text-right member-info">
      <h4 class="mv-sm">Member: {{(electorate$ | async)?.member}} ({{(electorate$ | async)?.party}})</h4>
      <span class="population">Pop. {{(electorate$ | async)?.population | number}} ({{(electorate$ |  async )?.percentOfStatePopulation | number}}% of {{(electorate$ | async)?.state}})</span>
    </span>
  </div>
</div>
<div class="container container-fluid">
  <div class="card shadow-z2">
    <div class="card-body reader-block sticky-tabs">
      <tabset [justified]="true">
        <tab heading="PMO Overview" (select)="handleSelectTab('overview')" [active]="tab === 'overview'">
          <app-overview></app-overview>
        </tab>
        <tab heading="Brief" (select)="handleSelectTab('brief')" [active]="tab === 'brief'">
          <app-brief></app-brief>
        </tab>
        <tab heading="Statistics" (select)="handleSelectTab('statistics')" [active]="tab === 'statistics'">
          <app-statistics [electorate]="electorateName"></app-statistics>
        </tab>
        <tab heading="Programs" (select)="handleSelectTab('programs')" [active]="tab === 'programs'">
          <app-programs [electorate]="electorateName"></app-programs>
        </tab>
        <tab heading="Map (example)" (select)="handleSelectTab('map')" [active]="tab === undefined">
          <!-- <app-map></app-map> -->
        </tab>
      </tabset>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>