<div class="mda-form-group">
  <div class="mda-form-control">
    <input name="filter" [(ngModel)]="filter" tabindex="0" aria-invalid="false" class="form-control" />
    <div class="mda-form-control-line"></div>
    <label>Filter</label>
  </div>
</div>
<div class="mda-list mda-list-bordered bg-white list-container">
  <div *ngFor="let item of filteredList" class="mda-list-item" (click)="handleClick(item)">
    <div class="mda-list-item-icon" [ngClass]="item.colourClass">
      <em class="icon-lg" [ngClass]="item.iconClass"></em>
    </div>
    <div class="mda-list-item-text mda-2-line">
      <h3>
        {{item.name}}
      </h3>
      <h4>{{item.category}}</h4>
    </div>
  </div>
</div>