<div class="container-overlap">
  <div class="container container-fluid">
    <span class="text-lg page-title">{{ (program$ | async)?.name }}</span>
    <span class="pull-right hidden-xs text-right member-info">
      <h4 class="mv-sm">$NNN,NNN,NNN</h4>
      <span class="population">{{(policyArea$ | async)?.name}}</span>
    </span>
  </div>
</div>
<div class="container container-fluid">
  <div class="card shadow-z2">
    <div class="card-body reader-block sticky-tabs">
      <tabset [justified]="true">
        <tab heading="PMO Overview" (select)="handleSelectTab('overview')" [active]="tab === 'overview'">
          <app-overview></app-overview>
        </tab>
        <tab heading="Commitment" (select)="handleSelectTab('commitment')" [active]="tab === 'commitment'">
          <app-commitment></app-commitment>
        </tab>
        <tab heading="Metrics" (select)="handleSelectTab('metrics')" [active]="tab === 'metrics'">
          <app-metrics [programId]="id"></app-metrics>
        </tab>
        <tab heading="Map (example)" (select)="handleSelectTab('map')" [active]="tab === undefined">
          <!-- <app-map></app-map> -->
        </tab>
      </tabset>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>