.container-overlap {
    padding-top: 0;
    padding-bottom: 16px;
}

.population {
    font-size: 18px;
}

.card {
    border-radius: 25px;
    font-size: 16px;
}

.page-title {
    margin-left: 48px;
}

.member-info {
    margin-right: 48px;
}

// TODO: fix this kludge (not currently being applied)
.graph-content {
    min-height: 350px;
}

.ngx-charts {
    min-height: 450px;
}
