<div class="container-fluid bg-full">
  <div class="container container-xs">
    <div class="row">
      <div class="col-sm-12">
        
 
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Token
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <textarea matInput style="width:100%;" matTextareaAutosize="true" [(ngModel)]='token'>
            </textarea>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="warning" (click)="logout()">Logout</button>
            <button mat-button color="accent" (click)="refreshToken()">Refresh token</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>